.FSPAndOutsourcing {
  background: url(/images/services/fsp-vector.png),
    linear-gradient(102.82deg, #080d12 19%, #102136 75.38%);
  background-position: center;
  background-repeat: no-repeat;
}

.TerapeuthicAreas {
  background: url(/images/services/terapeuthic-areas-vector.png),
    linear-gradient(102.82deg, #080d12 19%, #102136 75.38%);
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .FSPAndOutsourcing,
  .TerapeuthicAreas {
    background: linear-gradient(102.82deg, #080d12 19%, #102136 75.38%);
  }
}
